.app {
  font-family: sans-serif;
  min-width: 300px;
  max-width: 600px;
  margin: 50px auto;
}

.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
  &.row {
    flex-direction: row;
  }
}
